.home-container {
    height: 100vh;
    padding-top: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
}

h3 {
    margin-top: 0.5em;
}

.div-principal {
    margin-bottom: 50px;
}

.cyan-neon {
    color: var(--color-projects);
    text-shadow: 0 0 10px var(--color-projects);
}

.yellow-neon {
    color: var(--color-home);
    text-shadow: 0 0 10px var(--color-home);
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1ch;
}

.coin-icon {
    margin-left: -27px;
    margin-right: -19px;
    height: 1em;
    margin-bottom: 0.1em;
    filter: drop-shadow(0 0 5px var(--color-home));
}

.press-start-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 2rem;
    color: var(--color-profil);
    text-decoration: none;
    border: 3px solid var(--color-profil);
    border-radius: 8px;
    background: transparent;
    box-shadow: 0 0 10px var(--color-profil), inset 0 0 5px var(--color-profil);
    text-shadow: 0 0 8px var(--color-profil);
    transition: all 0.2s ease;
    cursor: pointer;
}

.press-start-btn:hover {
    background-color: var(--color-profil);
    color: white;
    box-shadow: 0 0 25px var(--color-profil);
    transform: scale(1.05);
}

