@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

:root {
    /* Couleurs */
    --color-home: #ffd700;
    --color-profil: #ff00ff;
    --color-projects: #00ffff;
    --color-skills: #39ff14;
    --color-bg: #050510;
    --color-grey: #666666;
    --color-aze: #1A1A24;

    /* Polices */
    --font-pixel: 'Press Start 2P', cursive;
    --font-VT323: 'VT323', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: white;
    font-family: var(--font-pixel);
    min-height: 100vh;
}